/*@font-face {
    font-family:'SourceHanSerifCN';
    src:url("/Yui/font/SourceHanSerifCN-Medium-6.otf");
}
@font-face {
    font-family:'NotoSansCJK';
    src:url("/Yui/font/NotoSansCJK-DemiLight-4.otf");
}*/
* {
    font-family:Georgia, serif, Arial,"Palatino Linotype", "Book Antiqua","Times New Roman", Times;
}