:root {
--nightBrightness:0.3;
--nightbackground:rgba(238,238,238,0.85);
--nightbox:0;
--nightfcolor:#000000;
--fontSerif:GenEiKoburiMin6, serif, Georgia ,"Palatino Linotype", "Book Antiqua","Times New Roman", Times;
font-family:var(--fontSerif);
}
@font-face {
    font-family:GenEiKoburiMin6;
    src:url("/font/GenEiKoburiMin6-R.ttf");
}
#nightbox {
position:fixed;
top:0px;
left:0px;
width:100vw;
height:100vh;
background:black;
opacity:var(--nightbox);
transition:opacity 1s;
pointer-events: none;
z-index: 999;
}
body {
background-image:url('b_5.webp');
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center center;
}
#body_box {
margin-left:-8px;
margin-top:-8px;
width:100vw;
}
#titleimg {
object-fit:cover;
width:100%;
height:calc(100vw / 3 * 2);
position:absolute;
transform: translate(0%,-100%);
z-index: -1;
}
#title {
margin-left:-8px;
width:calc(100% - 16px);
background:var(--nightbackground);
transition:1s;
color:var(--nightfcolor);
padding-bottom:1em;
padding-top:32px;
padding-left:16px;
padding-right:8px;
font-size:1.2em;
font-weight:bold;
overflow:auto;
transform: translate(0%,-100%);
margin-top:0px;
position:absolute;
}
#body {
padding:8px;
border-radius:0px 0px 16px 16px;
color:var(--nightfcolor);
white-space:pre-wrap;
overflow-wrap:anywhere;
word-break:normal;
line-height:25px;
font-size:1.1em;
overflow:hidden;
background:var(--nightbackground);
transition:1s;
padding-bottom:32px;
}
a {
color:#FF6699;
white-space:pre-wrap;
word-wrap:anywhere;
word-break:break-all;
line-height:25px;
font-size:1em;
text-decoration: none; 
}
#body .img {
width:100%;
margin-bottom:32px;
margin-top:32px;
}
#body .code {
width:calc(100% - 16px);
padding-bottom:32px;
padding-top:32px;
background:#23241f;
border-radius:8px;
padding-left:16px;
overflow:auto;
margin-bottom:16px;
margin-top:32px;
font-family:"Courier New", Courier, monospace;
font-size:0.9em;
}
#body .warn {
color:#950606;
font-size:1em;
margin-top:8px;
margin-left:-8px;
overflow:auto;
margin-bottom:0px;
width:clac(100% - 16px);
background:#ff6868;
padding-bottom:16px;
border-style:solid;
border-width:1px;
border-left-width:8px;
border-color:#ffb9b9;
padding-top:16px;
padding-left:16px;
border-bottom-right-radius:8px;
border-top-right-radius:8px;
}
#body .note {
color:#FF6699;
font-size:0.7em;
position:relative;
transform: translate(0%,-40%);
display:inline-block;
padding:0px;
}
#body .note div {
background:var(--nightbackground);
border-radius:2px;
filter: drop-shadow(0px 2px 5px var(--nightfcolor));
padding:3px;
color:var(--nightfcolor);
position:absolute;
width:80px;
font-size:15px !important;
transform: translate(0%,-25%);
}
#label {
width:calc(100% - 8px);
padding-left:8px;
display: flex;
flex-wrap: wrap; 
background:var(--nightbackground);
transition:1s;
padding-top:32px;

}
.label {
background:#FF6699;
color:white;
border-radius:6px;
padding:5px;
margin-right:4px;
margin-bottom:8px;
line-height:1em;
}

time {
width:calc(100% - 8px);
padding-left:8px;
padding-bottom:16px;
background:var(--nightbackground);
transition:1s;
color:var(--nightfcolor);
font-size:0.8em;
margin:0px;
display: block;
}

#body ul {
list-style-type:none;
list-style-position:inside;
color:var(--nightfcolor);
width:100%;
margin-left:-40px;
}
#body li {
margin:-8px 0px;
display:flex;
align-items:center;
}
#body small {
color:var(--nightfcolor);
filter:contrast(40%);
font-size:0.8em;
}
#comments_Section {
color:var(--nightfcolor);
font-weight:bold;
width:calc(100vw - 8px);
padding-top:32px;
padding-left:8px;
margin-right:4px;
margin-bottom:8px;
margin-left:-8px;
background:var(--nightbackground);
transition:1s;
padding-bottom:32px;
border-radius:16px;
}
#gitalk-container {
background:var(--nightbackground);
transition:1s;
padding-left:8px;
padding-right:8px;
border-radius:16px;
width:calc(100vw - 16px);
padding-bottom:32px;
margin-left:-8px;
color:var(--nightfcolor);
}
h2 {
    font-size:1.15em;
    margin:0px;
    padding-left:16px;
    position:relative;
    white-space:nowrap;
    overflow:auto;
    width:calc(100% - 22px);
}
h2::after {
    content:"";
    display: block;
    height:100%;
    width:6px;
    border-radius:1px;
    background:#FF6699;
    position:absolute;
    margin-left:-8px;
    margin-top:-1px;
    transform: translate(-100%,-100%);    
}
#noteBox {
    display: block;
    margin-top:32px;
}
#noteBox a{
    font-size:0.8em;
    white-space:nowrap;
    overflow:auto;
    width:calc(100% - 16px);
    color:var(--nightfcolor);
    filter:contrast(40%);
}