:root {
--nightBrightness:0.3;
--nightbackground:rgba(238,238,238,0.7);
--nightNoback:#eaeaea;
--ThemeColor:#FF6699;
--nightbox:0;
--nightfcolor:#000000;
--fontSerif:GenEiKoburiMin6, serif, Georgia ,"Palatino Linotype", "Book Antiqua","Times New Roman", Times;
font-family:var(--fontSerif);
--fontSize:1em;
--widthSize:35px;
--widthAll:100vw;
}

#body {
padding:8px;
color:var(--nightfcolor);
white-space:pre-wrap;
overflow-wrap:anywhere;
word-break:normal;
line-height:25px;
font-size:var(--fontSize);
overflow:hidden;
padding-bottom:32px;
margin-bottom:0px;
}
#body_alret_img img {
width:100vw;
height:auto;
max-height:90vh;
max-width:none;
object-fit:contain;
transition:0.5s;

}
@media screen and (min-width: 467px) {
:root {
--widthAll:400px;
}
#body {
padding:32px;
}
#body_alret_img img {
height:100vh;
width:auto;
max-width:90vw;
max-height:none;
}

}
@font-face {
    font-family:GenEiKoburiMin6;
    src:url("/Yui/font/GenEiKoburiMin6-R.ttf");
}
#nightbox {
position:fixed;
top:0px;
left:0px;
width:100vw;
height:100vh;
background:black;
opacity:var(--nightbox);
transition:opacity 1s;
pointer-events: none;
z-index: 999;
}
body {
background-image:url('b_5.webp');
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center center;
}
#body_box {
box-shadow: 0px 0px 8px black;
margin-left:calc(50vw - 8px);
transform: translateX(-50%);
margin-top:-8px;
width:100vw;
max-width:var(--widthAll);
position:relative;
overflow:auto;
border-radius:0px;
backdrop-filter:blur(5px);
margin-bottom:-8px;
background:var(--nightbackground);
}
#titleimg {
width:var(--widthAll);
height:calc(var(--widthAll) / 3 * 2);
z-index: -1;
margin:0px;
object-fit:cover;
overflow:auto;
display:block;
}
#title {
margin-left:-8px;
width:calc(100% - 16px);
max-width:calc(var(--widthAll) - 16px);
background:var(--nightbackground);
box-shadow: 0px 10px 10px var(--nightbackground);
color:var(--nightfcolor);
padding-bottom:1em;
padding-top:32px;
padding-left:16px;
padding-right:8px;
font-size:1.2em;
font-weight:bold;
overflow:auto;
transform: translate(0%,-100%);
display:block;
backdrop-filter:blur(2px);
margin-top:0px;
position:absolute;
}
#back_top {
    position:fixed;
    bottom:calc(var(--widthSize) + 8px);
    right:4px;
    margin:0px;
    width:var(--widthSize);
    height:var(--widthSize);
    box-shadow: 0px 0px 4px var(--nightfcolor);
    border-radius:4px;
    background:var(--nightNoback);
    color:#aaaaaa;
    opacity:0;
    pointer-events:none;
    transition:opacity 0.3s;
    z-index:10;
}
#outline_box {
    position:fixed;
    bottom:calc(3 * var(--widthSize) + 24px);
    right:4px;
    margin:0px;
    width:var(--widthSize);
    height:var(--widthSize);
    border-radius:4px;
    box-shadow: 0px 0px 4px var(--nightfcolor);
    background:var(--nightNoback);
    color:#aaaaaa
    z-index:10;
    background-image:url('side.svg');
    background-size:calc(var(--widthSize) / 7 * 5);
    background-repeat:no-repeat;
    background-position:center center;
    display:none;
    opacity:0;
    pointer-events:none;
    transition:opacity 0.3s;
}
#outline_box:hover > #outline_ul {
    width:200px;
    padding:8px 8px;
    max-height:calc(4 * var(--widthSize) + 24px);
}
#outline_ul {
    margin:0px;
    padding:0px 0px;
    box-shadow: 0px 0px 8px var(--nightfcolor);
    backdrop-filter:blur(10px);
    position:fixed;
    right:calc(var(--widthSize) + 8px);
    bottom:calc(3 * var(--widthSize) + 24px);
    width:0px;
    max-height:0px;
    background:var(--nightbackground);
    transition:0.3s;
    color:var(--nightfcolor);
    list-style-type:decimal;
    list-style-position:inside;
    overflow:auto;    
}
#outline_ul::before {
    content:"目录";
    font-size:1em;
}
#outline_ul li {
    padding:4px 0px;
    white-space:nowrap;
    font-size:0.9em;
}
#outline_ul li:active {
    background:#87ceebcc;
}
#setup_box {
position:fixed;
bottom:calc(2 * var(--widthSize) + 16px);
right:4px;
width:var(--widthSize);
height:var(--widthSize);
border-radius:4px;
box-shadow: 0px 0px 4px var(--nightfcolor);
background:var(--nightNoback);
z-index: 10;
opacity:0;
display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
pointer-events:none;
transition:opacity 0.3s;
}

#setup_box img {   
    width:calc(var(--widthSize) * 0.7);
    height:calc(var(--widthSize) * 0.7);
    animation:typewriter 4s linear infinite;
}
@keyframes typewriter {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

#setup_black {
position:fixed;
top:0px;
left:0px;
height:100vh;
width:100vw;
z-index: 11;
display:none;
}
#setup {
transform: translate(-50%,-50%);
padding:16px;
position:fixed;
top:50vh;
left:50vw;
height:400px;
max-height:100vh;
max-width:100vw;
width:300px;
z-index: 11;
background:var(--nightbackground);
color:var(--nightfcolor);
list-style-type:none;
list-style-position:inside;
box-shadow: 0px 0px 8px black;
overflow:auto;
opacity:0;
pointer-events:none;
backdrop-filter:blur(10px)
}
#setup li {
    padding:8px 0px;
}
#setup_family {
    --leftData:15px;
    --divBackGround:var(--ThemeColor);
}
#dark_mode {
    --leftData:-4px;
    --divBackGround:#aaaaaa;
}
.setupli {
    
    width:40px;
    height:20px;
    background:var(--divBackGround);
    border-radius:20px;
    border-style:none;
    margin-left:calc(100% - 32px);
    transform:translate(-100%,-100%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:var(--nightfcolor);
    font-size:1em;
    position:absolute;
    transition:0.5s;
}
.setupli::after {
    content:"";
    display:block;
    width:17px;
    height:17px;
    border-radius:20px;
    margin-left:var(--leftData);
    padding:0px;
    background:var(--nightbackground);
    position:absolute;
    transition:0.5s;
}


time {
width:calc(100% - 8px);
padding-left:8px;
padding-bottom:16px;
color:var(--nightfcolor);
font-size:0.8em;
margin:0px;
display: block;

}
time::before {
    content:"更新时间";
}
#body_foot_p {
font-size:0.8em;
display:block;
position:absolute;
margin:0px;
color:var(--nightfcolor);
margin-left:calc(100% - 8px);
transform: translateX(-100%);
white-space:nowrap;
z-index: 1;
}
a {
color:var(--ThemeColor);
white-space:pre-wrap;
word-wrap:anywhere;
word-break:break-all;
line-height:25px;
font-size:var(--fontSize);
text-decoration: none; 
}
#body .img {
width:100%;
margin-bottom:32px;
margin-top:32px;
transition:0.3s;
}
#body_alret_img div {
position:fixed;
top:0px;
left:0px;
width:100%;
height:100%;
}
#body_alret_img {
position:fixed;
top:0px;
left:0px;
width:100vw;
height:100vh;
display:none;
align-items:center;
justify-content:center;
z-index:10;
overflow:hidden;
background:rgba(0,0,0,0.698);
}
#body .code {
width:calc(100% - 16px);
padding-bottom:32px;
padding-top:32px;
background:#23241f;
border-radius:8px;
padding-left:16px;
overflow:auto;
margin-bottom:16px;
margin-top:32px;
font-family:"Courier New", Courier, monospace;
font-size:0.9em;
}
#body .warn {
color:#950606;
font-size:var(--fontSize);
margin-top:8px;
margin-left:-8px;
overflow:auto;
margin-bottom:0px;
width:clac(100% - 16px);
background:#ff6868;
padding-bottom:16px;
border-style:solid;
border-width:1px;
border-left-width:8px;
border-color:#ffb9b9;
padding-top:16px;
padding-left:16px;
border-bottom-right-radius:8px;
border-top-right-radius:8px;
}
#body .note {
color:var(--ThemeColor);
font-size:0.7em;
position:relative;
transform: translate(0%,-40%);
display:inline-block;
padding:0px;
}
#body .note:active {
    background:#87ceebcc;
}
#body .note div {
background:var(--nightNoback);
border-radius:2px;
box-shadow: 0px 2px 4px var(--nightfcolor);
padding:3px;
color:var(--nightfcolor);
position:absolute;
width:80px;
font-size:15px; !important
transform: translate(0%,-25%);
}
#label {
width:calc(100% - 8px);
padding-left:8px;
display: flex;
flex-wrap: wrap; 
padding-top:32px;
}
.label {
background:var(--ThemeColor);
color:white;
border-radius:6px;
padding:5px;
margin-right:4px;
margin-bottom:8px;
line-height:1em;
}



#body ul {
list-style-type:none;
list-style-position:inside;
color:var(--nightfcolor);
width:100%;
margin-left:-40px;
}
#body li {
margin:-8px 0px;
display:flex;
align-items:center;
}
#body small {
color:var(--nightfcolor);
filter:contrast(40%);
font-size:0.8em;
}

h2 {
    font-size:1.15em;
    margin:16px 0px;
    padding-left:16px;
    position:relative;
    white-space:nowrap;
    overflow:auto;
    width:calc(100% - 22px);
    display:flex;
    padding-left:8px;
    border-left-style:solid;
    border-width:8px;
    border-color:var(--ThemeColor);
}

#noteBox {
    display: block;
    margin-top:32px;
}
#noteBox a{
    font-size:0.8em;
    white-space:nowrap;
    overflow:auto;
    width:calc(100% - 16px);
    color:var(--nightfcolor);
    filter:contrast(40%);
}


.bottom_img {
    width:calc(var(--widthAll) * 0.8);
    margin-left:calc(var(--widthAll) * 0.1);
    object-fit:cover;
    margin-top:calc(4 * var(--widthSize) - 32px);
}
#Theme_color {
color:var(--nightfcolor);
}
#Theme_color div {
display: flex;
flex-wrap: wrap;
margin-top:4px;
}
#Theme_color button {
    padding:4px 8px;
    border-radius:4px;
    border-style:none;
    margin:4px;
    font-family:var(--fontSerif);
    color:white;
}
#Theme_color div *:nth-child(1) {
    background:#FF6699;
    margin-left:8px;
}
#Theme_color div *:nth-child(2) {
    background:#8583CE;
}
#Theme_color div *:nth-child(3) {
    background:#DD8892;
}
#Theme_color div *:nth-child(4) {
    background:#EE2222;
}
.clearAll::before {
content:"!危险区域";
position:relative;
display:block;
width:100%;
color:#950606;
margin:16px 0px;
}
.clearAll button:hover {
background-position: center bottom;
background-size: 100% 1px;
}
.clearAll button {
font-size:0.9em;
width:auto;
border-style:none;
font-family:var(--fontSerif);
background:linear-gradient(to right, var(--ThemeColor),var(--ThemeColor))no-repeat center bottom;
background-size: 0% 2px;
transition:background-size 0.5s;
}