@font-face {
        font-family: 'PixelMplus';
        src: url('/Yui/font/PixelMplus12-Regular.ttf');
        }

:root {
--nightbox:0;
    --nightColor:black;
}
#Game_box {
width:300px;
height:200px;
position:relative;
margin-left:calc(50vw - 8px);
margin-top:calc(50vh - 8px);
margin-bottom:0px;
background:none;
overflow:hidden;
transform:translate(-50%,-50%);
--difficulty:3s;
}

#Star_img {
width:70px;
display:none;
}
#Game_background {
position:absolute;
left:0px;
top:1px;
opacity:0;
}
#Game_background_img {
width:100%;
opacity:0.8;
transition:0.3s;
}
#Game_background div {
width:100%;
height:120px;
background:#FFD751;
position:absolute;
left:0px;
top:127px;
filter:drop-shadow(0px 0px 5px black);
}
#Game_character {
width:80px;
position:absolute;
left:27px;
top:51px;
margin-top:-21px;
}
#Game_collide {
width:25px;
height:45px;
position:absolute;
left:60px;
top:67px
}
.CharacterJumpOpen {
animation:CharacterJump 0.8s linear;
}


@keyframes CharacterJump {
    0% {
    margin-top:0px;
    }
    20% {
    margin-top:-50px;
    }
    50% {
    margin-top:-65px;
    }
    80% {
    margin-top:-50px;
    }
    100% {
    margin-top:0px;
    }
}


.Game_obstacle1 {
width:28px;
position:absolute;
top:80px;
animation:ObstacleMove var(--difficulty) linear 1;
}
.Game_obstacle_no1 {
width:28px;
position:absolute;
top:80px;
animation:ObstacleMove var(--difficulty) linear 1;
}

@keyframes ObstacleMove {
    from {
        transform:translateX(100%);
        margin-left:100%;
    }
    to {
        transform:translateX(-100%);
        margin-left:0px;
    }
}

.Game_obstacle2 {
width:28px;
position:absolute;
top:-60px;
left:0px;
display:block;
animation:ObstacleMove2 var(--difficulty) linear 1;
}

.Game_obstacle_no2 {
width:28px;
position:absolute;
top:-60px;
left:0px;
display:block;
animation:ObstacleMove2 var(--difficulty) linear 1;
}



@keyframes ObstacleMove2 {
    from {
        margin-left:100%;
        margin-top:0px;
    }
    to {
        margin-left:0px;
        margin-top:127px;
        transform:translate(-100%);
    }
}


.IncreaseDifficulty {
animation:IncreaseDifficulty 1s linear 1;
}
@keyframes IncreaseDifficulty {
0% {
color:black;
}
25% {
color:white;
}
50% {
color:black;
}
75% {
color:white;
}
100% {
color:black;
}
}



#game_ground {
width:100%;
height:1px;
background:var(--nightColor);
position:absolute;
left:0%;
top:127px;
}
body {    
    
    margin-top:-8px;
}
h1 {
    font-size:1.2em;
    font-family: serif, Georgia ,"Palatino Linotype", "Book Antiqua","Times New Roman", Times;
    position:absolute;
left:5%;
top:127px;
color:var(--nightColor);
}




#game_score {
    color:black;
    font-family: 'PixelMplus';
    position:absolute;
    bottom:8px;
    right:16px;
    display:none;
}
#game_score_history {
    color:black;
    font-family: 'PixelMplus';
    position:absolute;
    bottom:8px;
    left:16px;
    display:none;
}
#Open_game {
    position:absolute;
    top:55px;
    right:70px;
    font-family: 'PixelMplus';
    display:none;
    border-style:none;
    background:none;
    font-size:20px;
    
background:linear-gradient(to right,green,green)no-repeat center bottom;
background-size: 0% 2px;
transition:background-size 0.5s;

}
#Open_game:hover {
background-position: center bottom;
background-size: 100% 1px;
}



#nightbox {
position:fixed;
top:0px;
left:0px;
width:100vw;
height:100vh;
background:black;
opacity:var(--nightbox);
transition:opacity 1s;
pointer-events: none;
z-index: 999;
}



        #first_box {
            position:fixed;
            top:0px;
            left:0px;
            width:100vw;
            height:100vh;
            background:black;
            color:white;
            opacity:0;
pointer-events: none;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            z-index:99999
        }
        #first_box p {            
            position:absolute;
            font-size:1.2em;
            display:flex;
            line-height:1.2em;
            }
#first_box p:after {
            content:"...";
            position:absolute;
            right:0px;
            transform: translateX(100%);
            animation:firstPAnime 1.5s;
            animation-iteration-count:infinite;
            animation-timing-function:ease-in-out;
            display:block;
            }
        @keyframes firstPAnime {
            0% { content:"."; }
            25% { content:".."; }
            50% { content:"..."; }
            75% { content:".."; }
            100% { content:"."; }
            }