:root {
    --nightBrightness:0px;
    --nightbox:0;
    --nightbackground:#F1F1F1;
    --nightTitleground:rgba(241,241,241,0.8);
    --nightfcolor:#606266;
}

body {
    overflow:hidden;
    }
#background_img {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    object-fit:cover;
    border-style:none
}
#background {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:black;
    opacity:calc(var(--nightbox) + 0.1);
}
#background_bur {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    backdrop-filter:blur(var(--nightBrightness));
    transition:backdrop-filter 1s
}
#nightbox {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:black;
    opacity:var(--nightbox);
    transition:opacity 1s;
    pointer-events:none;
    z-index:100000
}
#search {
    position:fixed;
    top:0px;
    left:50vw;
    transform:translate(-50%,-200%);
    margin-top:8px;
    width:calc(100vw - 42px);
    padding:4px 4px;
    border-radius:10px;
    filter:drop-shadow(0px 0px 5px black);
    background:var(--nightbackground);
    display:none;
    color:#aaaaaa;
     z-index:10;
}
#search input {
    width:calc(100% - 42px);
    padding:4px 4px;
    background:none;
    border-style:none;
    color:#aaaaaa
}
#search_img {
    position:absolute;
    right:8px;
    top:50%;
    transform:translate(0%,-50%)
}
#body_portrait {
    width:80px;
    height:80px;
    border-radius:40px;
    object-fit:cover;
    border-style:solid;
    border-width:1px;
    border-color:#aaaaaa;
    background:#aaaaaa
}

#body_centre {
    margin-top:-8px;
    margin-left:-8px;   
    filter:drop-shadow(0px 0px 18px black);
    width:calc(100vw + 0px);
    height:100vh;
    padding:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#body_name {
    font-size:1em;
    color:#eee;
    text-align:center;
    font-weight:bold;
    text-shadow:0px 2px 5px black
}
#body_information {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
    margin-left:0px;
    opacity:0;
    transform: rotateX(90deg);
    transition:1s;
    pointer-events:none;
}
#body_information img {
    object-fit:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    background:var(--nightbackground);
    margin:10px;
    border-radius:5px;
    filter:drop-shadow(0px 0px 3px black);
    transition:background 1s  
}
#body_information img:hover {
    filter:drop-shadow(0px 0px 3px white)
}
#body_ntroduction {
    overflow:hidden;
    margin-left:32px;
    width:calc(100% - 64px);
    padding:8px 0px;
    margin-top:38px;
    position:relative;
}
#ntroduction_ul {
    list-style-type:none;
    color:#7d7d7d;
    width:100%;
    margin-left:-40px
}
#ntroduction_ul li {
    margin:8px
}
.ntroduction {
    padding-bottom:8px;
    background:var(--nightbackground);
    transition:1s;
    border-radius:8px;
    color:#7d7d7d;
    max-width:296px;
    margin:24px auto;
    overflow:hidden;
    position:relative;
}
#ntroduction_project {
    display:flex;
    justify-content:center;
    flex-wrap:wrap
}
#ntroduction_project embed {
    width:100%;
    border-style:none;
    margin-bottom:5px;
    margin-top:5px
}
.avatar {
    width:40px;
    height:40px;
    border-radius:40px;
    object-fit:cover;
    border-style:solid;
    border-width:1px;
    border-color:#aaaaaa;
    background:#aaaaaa
}
.name {
    position:absolute;
    margin-top:calc(0px - 40px + 0.5em);
    margin-left:60px
}
.body {
    white-space:pre-wrap;
    word-wrap:anywhere;
    width:100%;
    overflow:hidden
}
.img {
    max-width:100%;
    object-fit:contain
}
.titleimg {
    aspect-ratio:3/2;
    object-fit:cover;
    width:100%;
}
.title {
    transform:translate(0%,-100%);
    width:calc(100% - 8px);
    background:var(--nightTitleground);
    transition:1s;
    position:absolute;
    color:var(--nightfcolor);
    padding-top:8px;
    padding-bottom:8px;
    margin:0px 0px 0px 0px;
    padding-left:8px;
    font-size:1.1em;
    font-weight:bold;
    overflow:auto;
    white-space:nowrap;
    backdrop-filter:blur(var(--nightBrightness));   
}
.label {
    width:calc(100% - 8px);
    padding:14px 4px 8px 4px;
    margin: 0px;
    overflow:auto;
    display: flex;
    flex-wrap: wrap; 
}
.label span {
    background:#FF6699;
    color:white;
    border-radius:6px;
    padding:5px;
    margin-bottom:8px;
    margin-right:4px;
    line-height:1em;
    
}
