:root {
    --nightBrightness:0px;
    --nightbox:0;
    --nightbackground:rgba(255,255,255,0.8);
    --nightfcolor:#606266;
    --fontSerif:GenEiKoburiMin6, serif, Georgia ,"Palatino Linotype", "Book Antiqua","Times New Roman", Times;
font-family:var(--fontSerif);
}

@font-face {
    font-family:GenEiKoburiMin6;
    src:url("/Yui/font/GenEiKoburiMin6-R.ttf");
}

#body_box {
position:relative;
    top:8px;
    left:8px;
}
#background_img {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    object-fit:cover;
    border-style:none
}
#background {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:black;
    opacity:calc(var(--nightbox) + 0.1);
    transition:opacity 0.5s;
}
#background_bur {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    backdrop-filter:blur(var(--nightBrightness));
    transition:backdrop-filter 1s
}
#nightbox {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:black;
    opacity:var(--nightbox);
    transition:opacity 1s;
    pointer-events:none;
    z-index:100000
}

#body_box div {
width:calc(100% - 32px);
min-height:100px;
background:var(--nightbackground);
border-radius:10px;
padding:20px 8px 40px 8px;
overflow:auto;
margin-bottom:12px;
color:var(--nightfcolor);
backdrop-filter:blur(2px)    
}
.avatar {
width:50px;
height:50px;
border-radius:25px;
object-fit:cover;
border-style:solid;
border-width:1px;
border-color:var(--nightfcolor);
margin-left:8px;
background:var(--nightbackground);
}
.name {
position:absolute;
margin:0px 0px 0px 66px;
height:50px;
display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    perspective: 500px;
}
.time {
font-size:0.8em;
margin-top:16px;
margin-bottom:4px;
}
.body {
white-space:pre-wrap;
word-wrap:anywhere;
width:100%;
overflow:hidden;
border-top-style:solid;
border-width:1px;
border-color:var(--nightfcolor);
padding-top:16px;
margin:0px;
}